.container{
  display:flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

/* badges */
.badge {
  font-weight: 500;
  font-size: 14px;
  padding: 2px 12px;
  display: inline-block;
  margin-top: .35rem;
}

.square {
  border-radius: 4px;
}

.pill {
  border-radius: 12px;
}

.gray {
  background: #F3F4F6;
  color: #1F2937
}

.red {
  background: #FEE2E2;
  color: #991B1B;
}

.yellow {
  background: #FEF3C7;
  color: #92400E;
}

.green {
  background: #D1FAE5;
  color: #065F46;
}

.blue {
  background: #DBEAFE;
  color: #1E40AF;
}

.indigo {
  background: #E0E7FF;
  color: #3730A3;
}

.purple {
  background: #EDE9FE;
  color: #5B21B6;
}

.pink {
  background: #FCE7F3;
  color: #9D174D;
}

/* banners */

.banners-container {
  display: flex;
  column-gap: 1.5rem;
  @media(max-width: 600px){
    flex-direction: column;
  }
}

.banner {
  font-size: 14px;
  padding: 16px;
  display: flex;
  margin: 1rem 0;

  p:first-of-type{
    margin-top: 0;
  }
}

.success {
  background: #ECFDF5;
  color: #047857;
  .icon {
    color: #34D399;
  }
}

.warning {
  background: #FFFBEB;
  color: #92400E;
  .icon {
    color: #FBBF24;
  }
}

.error {
  background: #FEF2F2;
  color: #92400E;
  .icon {
    color: #F87171;
  }
}

.neutral {
  background: #EFF6FF;
  color: #1E40AF;
  .icon {
    color: #60A5FA;
  }
}

.icon {
  flex-basis:24px;
  font-size: 18px;
  margin-right: .5rem;
}

/* cards */

.card {
  width: 100%;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card-icon {
  background: #3F75FE;
  color: white;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0px 4px 6px -2px #0000000D;
  box-shadow: 0px 10px 15px -3px #0000001A;
  border-radius: 6px;
  transform: translateY(25px);
}

.card-body {
  text-align: center;
  
  box-shadow: 0px 4px 6px -2px #0000000D;
  box-shadow: 0px 10px 15px -3px #0000001A;
  border-radius: 6px;
  padding: 32px 24px;
  h3 {
    color: #111827;
    font-weight: 500;
    font-size: 18px;
  }
  p {
    color: #6B7280;
    font-weight: 400;
    font-size: 16px; 
  }
}

.card-body:hover, .banner:hover {
  box-shadow: 0px 4px 25px 0px #0000001A;
}

/* testimonials */

.testimonial {
  background: url('/src/assets/dot-pattern.png') no-repeat;
  background-position: bottom left;
  background-color: white;
  max-width: 1358px;
  text-align: center;
  padding: 96px 39px 112px;
  img {
    width: 180px;
    height: 32px; 
  }
  @media(max-width: 500px){
    text-align: left;
  }
}

.testimonial-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}

.testimonial-quote {
  color: #111827;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500px;
}

.testimonial-slash {
  color: #2E59F3;
  font-size: 24px;
}

.testimonial-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6B7280;
}

.testimonial-pic {
  background-color: #2545B8;
  max-width: 1358px;
  padding: 96px 39px 112px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  height: 200px;
  margin: 100px 0;
  @media(max-width: 900px){
    flex-direction: column;
    height: auto;
  }
}

.quoted {
    width: 364px;
    height: 464px;
    object-fit: cover;
    box-shadow: 0px 10px 10px -5px #0000000A;
    box-shadow: 0px 20px 25px -5px #0000001A;
    border-radius: 12px;
    margin: -125px 0 -150px;
    @media(max-width: 900px){
      width: 250px;
      height: 200px;
      margin: -150px 0 50px;
      object-position: 50% 35%; 
    }
    @media(max-width: 384px){
      width: 50vw;
      height: 100px;
    }
  }

.testimonial-pic-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.testimonial-pic-quote {
  color: white;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500px;
}

.testimonial-pic-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}