.container{
  display:flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

/* badges */
.badge {
  font-weight: 500;
  font-size: 14px;
  padding: 2px 12px;
  display: inline-block;
  margin-top: .35rem;
}

.square {
  border-radius: 4px;
}

.pill {
  border-radius: 12px;
}

.gray {
  background: #F3F4F6;
  color: #1F2937
}

.red {
  background: #FEE2E2;
  color: #991B1B;
}

.yellow {
  background: #FEF3C7;
  color: #92400E;
}

.green {
  background: #D1FAE5;
  color: #065F46;
}

.blue {
  background: #DBEAFE;
  color: #1E40AF;
}

.indigo {
  background: #E0E7FF;
  color: #3730A3;
}

.purple {
  background: #EDE9FE;
  color: #5B21B6;
}

.pink {
  background: #FCE7F3;
  color: #9D174D;
}

/* banners */

.banners-container {
  display: flex;
  column-gap: 3rem;
}

.multi-line-banners, .single-line-banners {
  max-width: 50%;
}

.banner {
  font-size: 14px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;

  p:first-of-type{
    margin-top: 0;
  }
}

.success {
  background: #ECFDF5;
  color: #047857;
  .icon {
    color: #34D399;
  }
}

.warning {
  background: #FFFBEB;
  color: #92400E;
  .icon {
    color: #FBBF24;
  }
}

.error {
  background: #FEF2F2;
  color: #92400E;
  .icon {
    color: #F87171;
  }
}

.neutral {
  background: #EFF6FF;
  color: #1E40AF;
  .icon {
    color: #60A5FA;
  }
}

.icon {
  flex-basis:24px;
  font-size: 18px;
  margin-right: .5rem;
}